{% extends 'base.html.twig' %}

{% block title %}Representant index{% endblock %}

{% block body %}
    <h1>Representant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomR</th>
                <th>PrenomR</th>
                <th>TelR</th>
                <th>Fonction</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for representant in representants %}
            <tr>
                <td>{{ representant.id }}</td>
                <td>{{ representant.NomR }}</td>
                <td>{{ representant.PrenomR }}</td>
                <td>{{ representant.TelR }}</td>
                <td>{{ representant.Fonction }}</td>
                <td>
                    <a href="{{ path('representant_show', {'id': representant.id}) }}">show</a>
                    <a href="{{ path('representant_edit', {'id': representant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('representant_new') }}">Create new</a>
{% endblock %}
