{% extends 'base.html.twig' %}

{% block title %}Representant{% endblock %}

{% block body %}
    <h1>Representant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ representant.id }}</td>
            </tr>
            <tr>
                <th>NomR</th>
                <td>{{ representant.NomR }}</td>
            </tr>
            <tr>
                <th>PrenomR</th>
                <td>{{ representant.PrenomR }}</td>
            </tr>
            <tr>
                <th>TelR</th>
                <td>{{ representant.TelR }}</td>
            </tr>
            <tr>
                <th>Fonction</th>
                <td>{{ representant.Fonction }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('representant_index') }}">back to list</a>

    <a href="{{ path('representant_edit', {'id': representant.id}) }}">edit</a>

    {{ include('representant/_delete_form.html.twig') }}
{% endblock %}
